RPC_URL=https://rpc.intuition.systems/http
RPC_READ_URL=https://vib.rpc.intuition.box/http
GRAPHQL_URL=https://mainnet.intuition.sh/v1/graphql
MULTIVAULT_ADDRESS=0x6E35cF57A41fA15eA0EaE9C33e751b01A784Fe7e
CHAIN_ID=1155
EXPLORER_URL=https://explorer.intuition.systems
CORS_ORIGINS=http://localhost:5173
